@import './base.css';

:root {
  --header-height: 110px;
  --footer-height: 80px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

main {
  margin-top: calc(var(--header-height));
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

button {
  background-color: #ec5a12;
  border: none;
  /* width: 205px; */
  padding: 10px 15px;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.p-date {
  font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
